html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body > main {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid red;
}

main > nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title, .subtitle {
  margin: 0.25rem;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel img {
  height: 30rem;
  display: none;
}

.carousel img.active {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
