html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1024px;
  margin: 0 auto;
}

nav {
  background: black;
  display: flex;
  width: 100%;
}

nav > a {
  padding: 1rem;
  color: white;
  text-decoration: none;
}

nav > a.logo {
  font-weight: bold;
}

footer {
  background: black;
  color: white;
}

/**
 * General
 */
.collapsing {
  display: flex;
  justify-content: space-between;
}

.collapsing > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.collapsing > * {
  padding: 0.5rem !important;
}

/**
 * Carousel
 */
.carousel {
  width: 100%;
  overflow: hidden;
  background: #111;
}

.carousel > img {
  height: 30rem;
  display: none;
}

.carousel > img.active {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.banner {
  position: relative;
  text-align: right;
  width: 100%;
  color: white;
  background: #111;
}

.banner > div {
  display: block;
  padding: 0.5rem;
}

/**
 * Content
 */
.content {
  padding: 0 1.5rem;
}

.cards {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: inline-block;
  box-shadow: 0 0 0.5rem #000;
  height: 18rem;
  width: 18rem;
  margin: 1rem;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.card-content .image {
  background-color: black;
  height: 15rem;
  width: 100%;
}

.card-content .title {
  margin: 1rem;
}

.card-content .price {
  margin: 1rem;
}
